@charset "utf-8";
body{
	font-family:微软雅黑,黑体,Helvetica,华文黑体;
	margin:0;
	background: #fff url(../images/bg.png);
	
}
#medit {
	padding: 10px 2%;
	border:1px solid #ccc;
	height:340px;
	margin:0 auto;
	overflow: auto;
	width:90%;
	border-radius:3px;
}
#container {
	width: 100%;
	margin: 0 auto;
	height: 600px;
	background: transparent;
	padding-top: 42px;
	position:relative;
}
.btn_container {
	white-space:nowrap;
	padding-top:10px;
	width:94%;
	margin:0 auto;
	height:60px;
}
.btn{
	float:left;
	display:inline-block;
	width:32%;
	margin-left:2%;
	max-width:200px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:13px;
	background:#69f;
	border-radius:5px;
}
.btn:first-child {
	margin-left:0;
}
#res {
	padding:50px 10px;
	margin: 10px auto;
	position:relative;
}
#res_title {
	background: #2B3A42 url(../images/bg.png);
	background-size:200px;
	color:#fff;
	height:40px;
	width:94%;
	padding:0 3%;
	line-height:40px;
	position:absolute;
	top:0;
	left:0;
	
	font-size:13px;
}

footer {
	width:100%;
	text-align:center;
	font-size:13px;
	color:#333;
	padding:20px 0;
	vertical-align: middle;
	
}