@charset "utf-8";
body{
	font-family:微软雅黑,黑体,Helvetica,华文黑体;
	margin:0;
	
}
header {
	height: 42px;
	background: #fff;
	position:fixed;
	z-index:4;
	width:100%;
	text-align:center;
}

#logo {
	background:url(../images/logo.png) no-repeat left center;
	background-size:contain;
	height: 30px;
	width:60px;
	position:relative;
	top: 6px;
	padding-left:36px;
	font-size:14px;
	font-weight:bold;
	line-height:30px;
	color:#709;
	margin:0 auto;
}

#container {
	width: 100%;
	margin: 0 auto;
	height: 600px;
	background: #2B3A42 url(../images/bg.png);
	padding-top: 42px;
	position:relative;
	text-align:center;
}
#usegif {
	max-width:90%;
	background:url(https://www.iwenku.net/images.gif) no-repeat center;
	background-size:contain;
	height: 413px;
	width:734px;
	margin:0px auto;
	position:relative;
	top:60px;
}
#usegif:before {
	content:'点击上图尝试 Medit Demo';
	position:absolute;
	bottom:-42px;
	color:#fff;
	font-size:13px;
	color:#fff;
	left:0;
	width:100%;
	text-align:center;
}

#git {
	position:absolute;
	bottom:30px;
	width:100%;
	text-align:center;
}
#git a {
	color:#2B3A42;
}

footer {
	width:100%;
	text-align:center;
	font-size:13px;
	color:#333;
	padding:20px 0;
	vertical-align: middle;
	
}