#medit {
	font-family:微软雅黑,黑体,Helvetica,华文黑体;
	font-size: 14px;
	word-break:break-all;
}
#medit * {
	outline:none;
}
#medit span {
	position: relative;
	outline:none;
}
.medit-editing{
	outline:none;
	padding: 0 20px;
	background: #eeddff;
	
}

#medit-tool {
	position:fixed;
	display: none;
	z-index:100;
	width:100%;
	left: 0;
	top: 0;
	height:40px;
	white-space: nowrap;
	overflow:auto;
	background:#428bca;
	text-align: left;
	font-family:微软雅黑,黑体,Helvetica,华文黑体;
}

#medit [data-meditMode=br] {
	height: 15px;
	width: 24px;
	border-radius: 3px;
	background:url("./images/icon-br.png") no-repeat center;
	background-size: 14px;
}

.medit-tool-button {
	width:40px;
	display:inline-block;
	height:40px;
	line-height: 40px;
	text-align:center;
	font-size:13px;
	cursor: pointer;
	color:#fff;
	font-weight:bold;
}

.medit-tool-addLeft {
	background:url("./images/add-left.png") no-repeat center center;
	background-size: 24px;
}
.medit-tool-addRight {
	background:url("./images/add-right.png") no-repeat center center;
	background-size: 24px;
}
.medit-tool-delete {
	background:url("./images/close.png") no-repeat center center;
	background-size: 24px;
}
.medit-tool-setting {
	background:url("./images/setting.png") no-repeat center center;
	background-size: 24px;
}
.medit-tool-mode {
	background:url("./images/mode.png") no-repeat center center;
	background-size: 24px;
}
.medit-tool-ok {
	background:url("./images/ok.png") no-repeat center center;
	background-size: 24px;
}

.medit-tool-link {
	background:url("./images/link.png") no-repeat center center;
	background-size: 24px;
}
.medit-tool-return {
	background:url("./images/return.png") no-repeat center center;
	background-size: 24px;
}

.medit-tool-button{
	border-right: 1px solid #357ebd;
	background-color: #428bca;
}

/* text */
.medit-text-select {
	position:relative;
	background:#9cf;
}

/* Link */
.medit-link {
	background: #fcc;
	border-bottom:1px dashed #709;
}
#medit a {
	position: relative;
	outline:none;
	padding: 0 20px;
	
}
#medit a:before {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height:12px;
	background:url("./images/link/link-left.png") no-repeat center center;
	background-size: 12px;
}
#medit a:after {
	content: " ";
	position: absolute;
	bottom: 0;
	width: 20px;
	height:12px;
	background:url("./images/link/link-right.png") no-repeat center center;
	background-size: 12px;
}

/* setting page */

#medit-settingPage{
	display: none;
	position:fixed;
	z-index:101;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.6);
	font-size:14px;
}

#medit-settingPage-main{
	position:absolute;
	top:50%;
	left:10%;
	transform:translateY(-50%);
	width:80%;
	background:#fff;
	border-radius:5px;
}
#medit-settingPage-title {
	padding:0 10px;
	font-size:15px;
	font-weight:bold;
	color:#000;
	height:36px;
	line-height:36px;
	border-bottom:1px solid #ccc;
}
#medit-settingPage-content {
	padding: 10px;
}
#medit-settingPage-content input[type=text] {
	width:100%;
	box-sizing:border-box;
	padding:0 10px;
	height:32px;
	line-height:32px;
	margin-top:5px;
	border:1px solid #999;
	border-radius:3px;
}
#medit-settingPage-button{
	border-top: 1px solid #ccc;
	height:48px;
}
#medit-settingPage-button i {
	display: inline-block;
	font-style:normal;
	width:44%;
	margin-left:4%;
	height:32px;
	line-height:32px;
	text-align:center;
	
	margin-top:8px;
	color:#fff;
	overflow:hidden;
	border-radius:3px;
}
#medit-settingPage-button-ok {
	background:#36f;
	
}
#medit-settingPage-button-cancel {
	background:#f63;
}
.medit-image{
	position:relative;
}
img:after {
	content:" ";
	position:absolute;
	width:200px;
	height:200px;
	right:0;
	bottom:0;
	color:#fff;
	background:#333;
}


#medit [data-meditMode=image] {
	background-color:#e5e5e5;
}

#medit-image-upload-select-btn {
	width:70%;
	overflow:hidden;
	white-space:nowrap;
	padding: 0 5%;
	margin:20px auto;
	height:32px;
	line-height:32px;
	color:#fff;
	background:#3c9;
	border-radius:3px;
	text-align:center;
}

#medit-image-upload-file {
	position:absolute;
	left:-500px;
	width:200px;
	
}
#medit-settingPage-content-img-uploading{
	padding: 20px 10px;
	line-height:24px;
}
#medit-settingPage-content-img-uploading-progress {
	display:block;
	height:4px;
	background:#c33;
	border-radius:2px;
	margin:10px 0;
}

#medit ul, #medit ol {
	position:relative;
	padding: 5px 0;
	margin:3px 0;
	border-left:20px solid #eee;
	min-height:30px;
}
#medit ul:before, #medit ol:before {
	content: "Li st";
	position:absolute;
	height:12px;
	line-height:12px;
	left:-17px;
	color:#999;
	width:15px;
	font-size: 10px;
	top:0px;
}
.medit-list {
	background:#ddd;
}
#medit li {
	position:relative;
	margin:0;
	padding:0;
	list-style:none;
	padding:5px;
	min-height:20px;
	margin:3px;
	border-left:20px solid #efefef;
}
#medit li:before{
	content: "li";
	position:absolute;
	height:20px;
	line-height:20px;
	left:-20px;
	color:#999;
	text-align:center;
	width:20px;
	font-size: 10px;
	top:0px;
}