#medit {
	font-size: 14px;
	word-break:break-all;
}
#medit span {
	position: relative;
	outline:none;
}
.medit-editing{
	outline:none;
	padding: 0 20px;
	background: #eeddff;
	
}

#medit-tool {
	position:fixed;
	display: none;
	z-index:100;
	width:100%;
	left: 0;
	top: 0;
	height:40px;
	white-space: nowrap;
	overflow:auto;
	background:#000;
	text-align: center;
}

[data-meditMode=br] {
	height: 15px;
	width: 10px;
	border-radius: 3px;
	background:url("./images/icon-br.png") no-repeat center center;
	background-size: contain;
}

.medit-tool-button {
	width:28px;
	display:inline-block;
	height:28px;
	line-height: 28px;
	text-align:center;
	font-size:12px;
	margin: 6px 8px;
	border-radius: 16px;
	cursor: pointer;
}

.medit-tool-addLeft, .medit-tool-addRight {
	background:#fff url("./images/add.png") no-repeat center center;
	background-size: 24px;
}
.medit-tool-delete {
	background:#fff url("./images/close.png") no-repeat center center;
	background-size: 24px;
}
.medit-tool-setting {
	background:#fff url("./images/setting.png") no-repeat center center;
	background-size: 24px;
}
.medit-tool-mode {
	background:#fff url("./images/mode.png") no-repeat center center;
	background-size: 24px;
}
.medit-tool-ok {
	background:#fff url("./images/ok.png") no-repeat center center;
	background-size: 24px;
}

.medit-tool-addBr {
	background:#fff url("./images/br.png") no-repeat center center;
	background-size: 24px;
}
.medit-tool-return {
	background:#fff url("./images/return.png") no-repeat center center;
	background-size: 24px;
}
